<h1>This is the about page</h1>


<p>about about about about about about about about 
about about about about about about about about about about 
about about about about about about about about about about </p>

<%= link_to 'go to home page', home_path %>